body {
  margin: 0;
  background-color: #0d0d14;
}
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.chatbot {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: blue;
  width: 50%;
}
.icon {
  color: azure;
}
.text {
  color: azure;
  font-family: sans-serif;
}
.input {
  display: flex;
  width: 100%;
  border:
    1px,
    solid #6961e0;
  border-radius: 10px;
  padding: 15px;
  background-color: #565658;
}
.input-area {
  display: flex;
  width: 100%;
  position: relative;
  align-items: center;
}
.background {
  background-color: azure;
  width: 50%;
  height: 445px;
}
.chat-container {
  width: 100%;
  height: 400px;
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
}
.btn {
  display: flex;
  left: 75%;
  align-items: center;
  margin-left: 20%;
  position: absolute;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: #727377;
}
.user-container {
  display: flex;
  justify-content: flex-end;
  margin-right: 5px;
}
.user {
  color: azure;
  background-color: #8a2be2;
  padding: 10px;
  border-radius: 7px;
  font-family: sans-serif;
}
.bot-container {
  display: flex;
  margin-left: 5px;
  justify-content: flex-start;

  width: 100%;
}
.bot {
  background-color: rgb(43, 205, 226);
  color: azure;
  font-family: sans-serif;
  border-radius: 8px;
  padding: 10px;
  width: 50%;
}
